/* ApproveTransfer.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.user-details {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  position: relative;
}

.user-details .text-wrapper {
  color: #272727;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.user-details img {
  height: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.user-details p {
  font-size: 18px;
  color: #333;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Add new styles for image container */
.image-container {
  height: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
}
.user-details .label {
  height: 49px;
  width: 134px;
}

.user-details .amount-wrapper {
  color: #272727;
  font-family: "DM Sans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 0;
}
