.savings-account {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.savings-account .div {
  background-color: #fbfbfb;
  height: 919px;
  position: relative;
  width: 390px;
}

.savings-account .frame {
  background-color: #202020;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 18px;
  height: 160px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 92px;
  width: 358px;
}

.savings-account .overlap-group {
  /* background-image: url(./topographic-1.png); */
  background-size: 100% 100%;
  height: 160px;
  position: relative;
}

.savings-account .text-wrapper {
  color: #ffffff;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
}

.savings-account .text-wrapper-2 {
  color: #ffffff;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 34px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 92px;
}

.savings-account .text-wrapper-3 {
  color: #909090;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 69px;
}

.savings-account .eva-arrow-back {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 53px;
  width: 24px;
}

.savings-account .frame-2 {
  align-items: flex-start;
  box-shadow:
    -1px 12px 27px #0000001a,
    -5px 48px 49px #00000017,
    -10px 109px 66px #0000000d,
    -19px 194px 78px #00000003,
    -29px 303px 85px transparent;
  display: inline-flex;
  flex-direction: column;
  gap: 31px;
  left: 16px;
  position: absolute;
  top: 275px;
}

.savings-account .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.savings-account .frame-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.savings-account .text-wrapper-4 {
  color: #3f3f3f;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.savings-account .frame-5 {
  align-items: center;
  background-color: #272727;
  border-radius: 46px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.savings-account .img {
  height: 15px;
  position: relative;
  width: 15px;
}

.savings-account .text-wrapper-5 {
  color: #ffffff;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.savings-account .group {
  -webkit-backdrop-filter: blur(99.6px) brightness(100%);
  backdrop-filter: blur(99.6px) brightness(100%);
  background-color: #ffffffc4;
  border-radius: 10px;
  height: 300px;
  position: relative;
  width: 358px;
}

.savings-account .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 14px;
  position: relative;
  top: 13px;
  width: 330px;
}

.savings-account .frame-7 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 1px 1px;
  position: relative;
  width: 143px;
}

.savings-account .text-wrapper-6 {
  color: #575757;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.savings-account .text-wrapper-7 {
  color: #2b2b2b;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.savings-account .text {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.savings-account .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1px;
  position: relative;
}

.savings-account .text-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
}

.savings-account .frame-9 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1px;
  position: relative;
  width: 330px;
}

.savings-account .p {
  color: #2b2b2b;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -28px;
  position: relative;
  width: 358px;
}

.savings-account .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.savings-account .cart-gradient {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0.2) 0%,
    rgba(15.94, 15.94, 15.94, 0.2) 84.86%
  );
  /* background-image: url(./mask.png); */
  background-size: 100% 100%;
  border-radius: 7.33px;
  height: 180.5px;
  position: relative;
  width: 115.45px;
}

.savings-account .logo {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 20px;
  width: 20px;
}

.savings-account .chip {
  height: 14px;
  left: 87px;
  position: absolute;
  top: 15px;
  width: 19px;
}

.savings-account .cart-minimal {
  background-color: var(--white);
  /* background-image: url(./image.png); */
  background-size: 100% 100%;
  border-radius: 7.33px;
  height: 180.5px;
  position: relative;
  width: 115.45px;
}

.savings-account .logo-2 {
  height: 6px;
  left: 10px;
  position: absolute;
  top: 17px;
  width: 20px;
}

.savings-account .chip-2 {
  height: 14px;
  left: 87px;
  position: absolute;
  top: 12px;
  width: 19px;
}

.savings-account .cart-holograma {
  background: linear-gradient(
    180deg,
    rgba(46.67, 42.85, 233.75, 0.2) 0%,
    rgba(63.75, 82.88, 255, 0.2) 84.86%
  );
  /* background-image: url(./mask-group.png); */
  background-size: 100% 100%;
  border-radius: 7.33px;
  height: 180.5px;
  position: relative;
  width: 115.45px;
}

.savings-account .logo-3 {
  height: 6px;
  left: 85px;
  position: absolute;
  top: 160px;
  width: 20px;
}
