.transfer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 358px;
  height: 290px;
  left: 16px;
  top: 237px;
}

.transfer-wrapper .overlay-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 190px;
  width: 358px;
  height: 21px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.transfer-wrapper .date-wrapper {
  margin: 0 auto;
  width: 93px;
  height: 21px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1c1c1c;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.transfer-wrapper .total-amount-wrapper {
  margin: 0 auto;
  width: 75px;
  height: 21px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1c1c1c;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.transfer-wrapper .transfers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 16px;
  gap: 14px;
  width: 358px;
  height: 259px;
  background: #ffffff;
  border-radius: 9px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 326px;
  height: 65px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.transfer-wrapper .div {
  height: 65px;
  margin-right: -2px;
  position: relative;
  width: 328px;
}

.transfer-wrapper .transfer-amount {
  color: var(--neutral-800);
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 265px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 20px;
}

.transfer-wrapper .frame {
  align-items: flex-start;
  display: inline-flex;
  gap: 13px;
  left: 0;
  position: absolute;
  top: 0;
}

.transfer-wrapper .user-img-container {
  background-position: 50% 50%;
  background-size: cover;
  height: 40px;
  position: relative;
  width: 40px;
}

.transfer-wrapper .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.transfer-wrapper .text-wrapper-2 {
  color: var(--neutral-700);
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.transfer-wrapper .text-wrapper-3 {
  color: var(--neutral-600);
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.transfer-wrapper .text-wrapper-4 {
  color: #909090;
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.transfer-wrapper .text-wrapper-5 {
  color: var(--neutral-800);
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 262px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 20px;
}

.transfer-wrapper .img {
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 40px;
}

.transfer-wrapper .text-wrapper-6 {
  color: var(--neutral-800);
  font-family: "DM Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 261px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 20px;
}
