.input-container {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  gap: 10px;
}

.input-field {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 4vw;
  font-weight: 600;
}

.input-field:focus {
  outline: none;
  border-left: 2px solid #007bff;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 4vw;
  font-weight: 600;
}
